<mat-nav-list appAccordion class="m-t-15">
  <span *ngFor="let sidebarItem of sidebarItems">
    <span *ngIf="sidebarItem.display">

      <span *ngIf="!!sidebarItem.title; then separator else link"></span>

      <ng-template #separator>
        <span class="sidebar-sep">{{sidebarItem.label}}</span>
      </ng-template>

      <ng-template #link>
        <mat-list-item routerLinkActive="selected">
          <a appAccordionToggle [routerLink]="['/', sidebarItem.route]" (click)="sidebarItem.onClick ? sidebarItem.onClick() : ''">
            <mat-icon>{{ sidebarItem.icon }}</mat-icon>
            <span>{{ sidebarItem.label }}</span>
            <span fxFlex></span>
          </a>
        </mat-list-item>
      </ng-template>

    </span>
  </span>
</mat-nav-list>
