.idea
cardinal
webcardinal
webcardinal/**
authentication-feature-template
authentication-feature-59k3
authentication-feature-truemed


apihub-root/dsu-explorer
apihub-root/dsu-fabric-wallet/wallet-patch/seed
apihub-root/leaflet-wallet/wallet-patch/seed
apihub-root/leaflet-wallet/apps-patch/leaflet-ssapp/seed
apihub-root/seedsBackup
apihub-root/auth-features.json
apihub-root/external-volume/dsu-wizard/
apihub-root/external-volume/config/issuers-public-identities

reporting-service/build/bundles
reporting-service/node_modules

pdm-web-components/node_modules
pdm-web-components/dist
pdm-web-components/www

native-integration/node_modules
native-integration/build/bundles

mobile/scan-app
privatesky
menu-wallet-prototype
leaflet-ssapp
apihub-root/leaflet-wallet/loader
apihub-root/dsu-fabric-wallet/loader
themes
dossier-explorer-wallet-prototype
apihub-root/dsu-fabric
apihub-root/dsu-explorer/loader
apihub-root/internal-volume/domains
apihub-root/external-volume/domains
gtin-resolver
gtin-dsu-wizard
dossier-explorer-ssapp
express-demo
ethereum-anchoring
dsu-fabric-ssapp
node_modules
package-lock.json
env.json.devel