<div class="content" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill *ngIf="event">
  <div fxFlex="50" fxFlex.lt-lg="100">
    <!-- Code box for eventMetadata -->
    <div class="box box-event">
      <div class="box-header">Event:</div>
      <pre>{{eventMetadata | json}}</pre>
    </div>
    <!-- Code box for event input -->
    <div class="box box-input">
      <div class="box-header">Event Input:</div>
      <pre style="text-wrap: normal">{{eventInputs | json}}</pre>
    </div>
    <!-- Code box for event output -->
    <div class="box box-output">
      <div class="box-header">Event Output:</div>
      <pre>{{eventOutputs | json}}</pre>
    </div>
  </div>

  <div fxFlex="50" fxFlex.lt-lg="100">
    <div *ngIf="!!event.eventInputs[0].eventInputData.snCheckLocation; else disableMap">
      <app-event-map [eventMapOptions]="eventMapOptions" [dataReceiver]="[event]"></app-event-map>
    </div>
    <ng-template #disableMap>
      <h3>
        Map location not available.
      </h3>
    </ng-template>
  </div>


  <div>
    <div *ngIf="event.traceability.available && (!event.traceability.response || event.traceability.response.error)">
      <button mat-flat-button (click)="askFgt()">Request Traceability to FGT</button>
    </div>
    <div *ngIf="!event.traceability.available && event.traceability.message" style="color: red;">
      {{ event.traceability.message }}
    </div>
    <div *ngIf="event.traceability.response && !event.traceability.response.error">
      <h2>Traceability information (from Finish Goods Traceability)</h2>
      <div *ngFor="let trcItem of event.traceability.response | keyvalue">
        <ul>
          <li>{{ trcItem.key }} - {{ getTraceabilityTitle(trcItem.key) }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
