.box-header {
  font-weight: bold;
  margin: 20px 0 5px;
}

.box {
  background: #EEE;
  padding: 1px 10px;
  color: #000000;
  border-left-width: 5px;
  border-left-style: solid;
  margin: 10px;
  border-radius: 4px 0 0 4px;
}

.box.box-event {
  border-color: #4054b4;
}

.box.box-input {
  border-color: #ee9900;
}

.box.box-output {
  border-color: #52E052;
}

pre {
  overflow-x: auto;
  word-wrap: break-word;
}

h3 {
  text-align: center;
}
