.event-detail {
  margin: 20px 20px;
}

.event-detail p {
  font-weight: bold;
}

.event-detail h4 {
  margin-bottom: -20px;
  color: #3e68ad;
}

.event-detail h6 {
  margin-bottom: -2px;
  color: #6c757d;
}

.box {
  background: #EEE;
  padding: 1px 10px;
  color: #000000;
  border-left-width: 5px;
  border-left-style: solid;
  margin: 10px;
  border-radius: 4px 0 0 4px;
}

.box.box-event {
  border-color: #4054b4;
}

.box.box-input {
  border-color: #ee9900;
}

.box.box-output {
  border-color: #52E052;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  width: 50%;
}

