<div class="text-danger m-b-10" fxLayout="row" fxLayoutAlign="end center">
  <button mat-mini-fab
          matTooltip="Export event scans"
          matTooltipPosition="left"
          color="primary"
          (click)="handleDownloadScans()">
    <mat-icon>cloud_download</mat-icon>
  </button>
</div>

<!-- Filter Expansion Panel -->
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-accordion>
  <mat-expansion-panel hideToggle
                       (opened)="filterPanelOpenState = true"
                       (closed)="filterPanelOpenState = false"
                       [expanded]="filterPanelOpenState"
  >
    <!-- Filter Expansion Panel (HEADER) -->
    <mat-expansion-panel-header>
      <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>filter_list_alt</mat-icon>
        <h4>Filter</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- END Filter Expansion Panel (HEADER) -->


    <!-- Filter form -->
    <form [formGroup]="dataHandlerForm" (ngSubmit)="handleFilter()">
      <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

        <!-- 1st Column Filter -->
        <div fxFlex="40" fxFlex.xs="55">
          <!-- Chips Input (arrays) -->
          <span *ngFor="let filterInput of chipsInputs">
            <mat-form-field>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let element of filterInput.elements"
                          [selectable]="selectable"
                          [removable]="true"
                          (removed)="handleRemoveChip(filterInput, element)"
                >
                  {{element}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [placeholder]="filterInput.label"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="handleAddChip(filterInput, $event)"
                       [matAutocomplete]="auto"
                >
              </mat-chip-list>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleAddChip(filterInput, $event)">
                <mat-option *ngFor="let fruit of filterInput.autocompleteOptions" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
          </span>
          <!-- END Chips Input (arrays) -->
        </div>
        <!-- END 1st Column Filter -->


        <!-- 2nd Column Filter -->
        <div fxFlex="30" fxFlex.lt-lg="100">

          <!-- createdOn -->
          <div fxLayout="row" fxLayout.lt-md="column">
            <div class="flex-item" fxFlex=50>
              <mat-form-field>
                <mat-label>createdOn - start date</mat-label>
                <input type="date" formControlName="createdOnStart" matInput>
              </mat-form-field>
            </div>
            <div class="flex-item" fxFlex=50>
              <mat-form-field>
                <mat-label>createdOn - end date</mat-label>
                <input type="date" formControlName="createdOnEnd" matInput>
              </mat-form-field>
            </div>
          </div>

          <!-- Items per page -->
          <div fxLayout="row">
            <mat-form-field>
              <mat-label>Items per page</mat-label>
              <input type="number" formControlName="pageSize" min="1" matInput>
            </mat-form-field>
          </div>

          <!-- Select table columns -->
          <div fxLayout="row" fxLayoutGap="20px">

            <!-- Select table columns DEFAULT -->
            <div fxLayout="column">
              <strong>Default Columns: </strong>
              <div *ngFor="let checkBox of checkInputsDefault; let i=index">
                <mat-checkbox [value]="checkBox.value" color="primary" (change)="handleCheckChangeDefault($event)"
                              [checked]="true">
                  {{checkBox.label}}
                </mat-checkbox>
              </div>
            </div>

            <!-- Select table columns CUSTOM -->
            <div fxLayout="column">
              <strong>Custom columns: </strong>
              <div fxLayout="row" *ngFor="let checkBox of checkInputsCustom; let i=index">
                <mat-checkbox [value]="checkBox.value" color="primary" (change)="handleCheckChange($event)">
                  <div class="text-wrap">
                    {{checkBox.label}}
                  </div>
                </mat-checkbox>
              </div>
            </div>

          </div>
          <!-- END Select table columns -->

        </div>
        <!-- END 2nd Column Filter -->
      </div>

      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="primary" type="submit">Search</button>
      </div>


    </form>
    <!-- END Filter form -->
  </mat-expansion-panel>
</mat-accordion>
<!-- END Filter Expansion Panel -->


<!-- Tabs -->
<mat-tab-group mat-align-tabs="center" dynamicHeight animationDuration="0ms">


  <!-- Table tab -->
  <mat-tab label="Event Log">
    <ng-template matTabContent> <!-- Lazy Loading Tab -->

      <!-- Pagination div -->
      <div class="container">
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="dataHandler.itemsCount"
          [pageSize]="dataHandler.pageSize"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="dataHandler.pageIndex">
        </mat-paginator>
      </div>
      <!-- END Pagination div -->

      <!-- Event Table div -->
      <div class="table-rasponsive">
        <table mat-table matSort
               [dataSource]="dataSource"
               (matSortChange)="handleSortData($event)"
               [matSortActive]="this.dataHandler.sortProperty"
               [matSortDirection]="this.dataHandler.sortDirection"
        >

          <!-- Event Id Column -->
          <ng-container matColumnDef="eventId">
            <th mat-header-cell *matHeaderCellDef>{{columnsData['eventId'].label}}</th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="/event/{{element.eventId}}">
                {{columnsData['eventId'].data(element)}}
              </a>
            </td>
          </ng-container>

          <!-- Created On Column -->
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnsData['createdOn'].label}}</th>
            <td mat-cell *matCellDef="let element"> {{columnsData['createdOn'].data(element)}} </td>
          </ng-container>

          <!-- EventInput Column -->
          <ng-container matColumnDef="eventInputData">
            <th mat-header-cell *matHeaderCellDef>{{columnsData['eventInputData'].label}}</th>
            <td class="table-event-data-cell input" mat-cell *matCellDef="let element">
              <pre>{{columnsData['eventInputData'].data(element) | json}}</pre>
            </td>
          </ng-container>

          <!-- EventOutput Column -->
          <ng-container matColumnDef="eventOutputData">
            <th mat-header-cell *matHeaderCellDef>{{columnsData['eventOutputData'].label}}</th>
            <td class="table-event-data-cell output" mat-cell *matCellDef="let element">
              <pre>{{columnsData['eventOutputData'].data(element) | json}}</pre>
            </td>
          </ng-container>

          <!-- Selected Columns by CheckBox - CUSTOM -->
          <div *ngFor="let checkColumnSelected of checksSelected">
            <ng-container [matColumnDef]="checkColumnSelected">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ columnsData[checkColumnSelected].label }}
              </th>
              <td
                [ngClass]="columnsData[checkColumnSelected].cssClasses ? columnsData[checkColumnSelected].cssClasses(element) : ''"
                mat-cell *matCellDef="let element"
              >
                {{columnsData[checkColumnSelected].data(element)}}
              </td>
            </ng-container>
          </div>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <!-- END Event Table div -->

      <!-- Pagination div (footer) -->
      <div class="container">
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="dataHandler.itemsCount"
          [pageSize]="dataHandler.pageSize"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="dataHandler.pageIndex">
        </mat-paginator>
      </div>
      <!-- End Pagination div (footer) -->
    </ng-template><!-- End Lazy Loading Tab -->
  </mat-tab>
  <!-- End Table tab -->


  <!-- Map tab -->
  <mat-tab label="Map">
    <ng-template matTabContent> <!-- Lazy Loading Tab -->
      <!-- Map component -->
      <app-event-map [dataReceiver]="dataSource.data"></app-event-map>
    </ng-template> <!-- End Lazy Loading Tab -->
  </mat-tab>
  <!-- End Map tab -->


</mat-tab-group>
<!-- End Tabs -->
