<!-- Filter Expansion Panel -->
<mat-accordion>
  <mat-expansion-panel hideToggle
                       (opened)="filterPanelOpenState = true"
                       (closed)="filterPanelOpenState = false"
                       [expanded]="filterPanelOpenState"
  >
    <!-- Filter Expansion Panel (HEADER) -->
    <mat-expansion-panel-header>
      <mat-panel-title>Filter</mat-panel-title>
      <mat-panel-description>
        <mat-icon>filter_list_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- END Filter Expansion Panel (HEADER) -->


    <!-- Filter form -->
    <form [formGroup]="dataHandlerForm" (ngSubmit)="handleFilter()">
      <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

        <!-- 1st Column Filter -->
        <div fxFlex="40" fxFlex.xs="55">
          <!-- Chips Input (arrays) -->
          <span *ngFor="let filterInput of chipsInputs">
            <mat-form-field>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let element of filterInput.elements"
                          [selectable]="selectable"
                          [removable]="true"
                          (removed)="handleRemoveChip(filterInput, element)"
                >
                  {{element}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [placeholder]="filterInput.label"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="handleAddChip(filterInput, $event)"
                >
              </mat-chip-list>
            </mat-form-field>
          </span>
          <!-- END Chips Input (arrays) -->
        </div>
        <!-- END 1st Column Filter -->


        <!-- 2nd Column Filter -->
        <div fxFlex="30">

          <!-- createdOn -->
          <div fxLayout="row">
            <mat-form-field>
              <mat-label>createdOn - start date</mat-label>
              <input type="date" formControlName="createdOnStart" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>createdOn - end date</mat-label>
              <input type="date" formControlName="createdOnEnd" matInput>
            </mat-form-field>
          </div>

          <!-- expiryDate -->
          <fieldset disabled>
            <div fxLayout="row">
              <mat-form-field>
                <mat-label>expiryDate - start</mat-label>
                <input type="date" formControlName="expiryDateStart" matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>expiryDate - end</mat-label>
                <input type="date" formControlName="expiryDateEnd" matInput>
              </mat-form-field>
            </div>
          </fieldset>

          <!-- Items per page -->
          <div fxLayout="row">
            <mat-form-field>
              <mat-label>Items per page</mat-label>
              <input type="number" formControlName="pageSize" min="1" matInput>
            </mat-form-field>
          </div>

        </div>
        <!-- END 2nd Column Filter -->
      </div>

      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="primary" type="submit">Search</button>
      </div>


    </form>
    <!-- END Filter form -->
  </mat-expansion-panel>
</mat-accordion>
<!-- END Filter Expansion Panel -->


<!-- Tabs -->
<mat-tab-group mat-align-tabs="center" dynamicHeight>


  <!-- Table tab -->
  <mat-tab label="Event Log">
    <ng-template matTabContent> <!-- Lazy Loading Tab -->

      <!-- Pagination div -->
      <div class="container">
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="dataHandler.itemsCount"
          [pageSize]="dataHandler.pageSize"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="dataHandler.pageIndex">
        </mat-paginator>
      </div>
      <!-- END Pagination div -->

      <!-- Event Table div -->
      <div class="row-center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Event Id Column -->
          <ng-container matColumnDef="eventId">
            <th mat-header-cell *matHeaderCellDef> Event Id</th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="/event/{{element.eventId}}">
                {{element.eventId.slice(0, 8)}}
              </a>
            </td>
          </ng-container>

          <!-- Created On Column -->
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef> Created On</th>
            <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
          </ng-container>

          <!-- EventInput Column -->
          <ng-container matColumnDef="eventInputData">
            <th mat-header-cell *matHeaderCellDef> Event Inputs [0]</th>
            <td class="table-event-data-cell input" mat-cell *matCellDef="let element">
              <pre>{{element.eventInputData | json}}</pre>
            </td>
          </ng-container>

          <!-- EventOutput Column -->
          <ng-container matColumnDef="eventOutputData">
            <th mat-header-cell *matHeaderCellDef> Event Outputs [0]</th>
            <td class="table-event-data-cell output" mat-cell *matCellDef="let element">
              <pre>{{element.eventOutputData | json}}</pre>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <!-- END Event Table div -->

      <!-- Pagination div (footer) -->
      <div class="container">
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="dataHandler.itemsCount"
          [pageSize]="dataHandler.pageSize"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="dataHandler.pageIndex">
        </mat-paginator>
      </div>
      <!-- End Pagination div (footer) -->
    </ng-template><!-- End Lazy Loading Tab -->
  </mat-tab>
  <!-- End Table tab -->


  <!-- Map tab -->
  <mat-tab label="Map">
    <ng-template matTabContent> <!-- Lazy Loading Tab -->
      <!-- Map component -->
      <app-event-map [dataReceiver]="mapEvents"></app-event-map>
    </ng-template> <!-- End Lazy Loading Tab -->
  </mat-tab>
  <!-- End Map tab -->


</mat-tab-group>
<!-- End Tabs -->

