a {
  color: #007bff;
}

a:hover {
  color: #6f42c1;
}

.container {
  margin: 20px;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mat-paginator {
  background-color: #EEE;
  color: #4054b4;
}

table {
  width: 95%;
}

.table-event-data-cell.input {
  color: #ee9900;
}

.table-event-data-cell.output {
  color: #2f9c0a;
}

mat-form-field {
  padding: 2px;
  margin-right: 10px;
  width: 80%;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

::ng-deep .mat-sort-header-arrow {
  color: white;
}
