<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label>Username:
            <input id="username" formControlName="username" placeholder="username" type="text" class="form-control"
                required />
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="form-error-messages" style="display: inline;">
                <span *ngIf="username?.errors?.required">
                    Username is required.
                </span>
            </div>
        </label>
    </div>
    <div>
        <label>Password:
            <input is="password" formControlName="password" placeholder="password" type="password"
                class="form-control" />
        </label>
    </div>
    <button class="button" type="submit">Login</button>
    <p>For testing purposes, please login with
        <br />
        Username=j******@pdmfc.com
        <br />
        Password=123456
    </p>
</form>