/* Bootstrap Color */
$danger: #d9534f;
$success: #5cb85c;
$warning: #f0ad4e;
$info: #0275d8;
$inverse: #292b2c;
$muted: #99abb4;
$light: #f7f7f7;

/* Extra */
$border: rgba(120, 130, 140, 0.13);
$radius: 4px;
